<div class="ag-panel ag-signin-panel">
  <div class="cloud-icon-container">
    <img src="img/signin_cloud.png" class="cloud-icon">
  </div>
  <div class="cloud-text-container">
    <img src="img/signin_text_icon.png" class="cloud-text">
    <div class="signin-tip">最专业的消费品行业云</div>
  </div>

  <div class="input-container">
    <input class="input username" ng-model="info.username" placeholder="请输入用户名">
    <input class="input password" ng-model="info.password" placeholder="请输入密码">
  </div>
  <div class="submit-btn-container">
    <div class="submit-btn" ng-click="goSignin()">
      登 录
    </div>
  </div>

  <div class="signin-btn-container">
    <div class="signin-btn" ng-click="clickSignin()">登 录</div>
  </div>
</div>
