a {
  text-decoration: none;
}

.ag-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0px;
  background-color: #f8f8f8;

  -webkit-transition: -webkit-transform .2s ease;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 4;
  &.show {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  .ag-panel-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 1;
    color: white;
    .left {
      position: absolute;
      left: 10px;
      top: 0px;
      line-height: 60px;
      font-size: 16px;
    }

    .center {
      text-align: center;
      font-size: 18px;
      line-height: 60px;
    }

    .right {
      position: absolute;
      right: 10px;
      top: 0px;
      line-height: 60px;
      font-size: 16px;
    }
  }
}

/*.bar-header {
  height: 60px;
}

.platform-android .bar {
  .title{
    line-height: 60px;
    height: 59px;
  }
}
.platform-ios .bar {
  .title{
    line-height: 80px;
    height: 79px;
  }
}
.bar {
  .title {
    line-height: 60px;
    height: 59px;
  }
  .button,button{
    line-height: 48px;
  }
}

.has-header {
  top: 60px;
}

.platform-ios{
  .has-header {
    top: 80px;
  }
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  line-height: 48px;
}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before, .bar button.button-clear .icon:before, .bar button.button-clear.icon:before, .bar button.button-clear.icon-left:before, .bar button.button-clear.icon-right:before{
  line-height: 48px;
}*/

@import "../directives/map_panel/map.client.style.less";
@import "../directives/photo_panel/photo.client.style.less";
@import "menu.client.style.less";
@import "home.client.style.less";
@import "datepicker.client.style.less";
