a {
  text-decoration: none;
}

.ag-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0px;
  background-color: #f8f8f8;

  -webkit-transition: -webkit-transform .2s ease;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 4;
  &.show {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  .ag-panel-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 1;
    color: white;
    .left {
      position: absolute;
      left: 10px;
      top: 0px;
      line-height: 60px;
      font-size: 16px;
    }

    .center {
      text-align: center;
      font-size: 18px;
      line-height: 60px;
    }

    .right {
      position: absolute;
      right: 10px;
      top: 0px;
      line-height: 60px;
      font-size: 16px;
    }
  }
}

.bar-stable.bar.bar-header {
  border-bottom: 1px solid #e5e5e5;
}

/*.bar-header {
  height: 60px;
}

.platform-android .bar {
  .title{
    line-height: 60px;
    height: 59px;
  }
}
.platform-ios .bar {
  .title{
    line-height: 80px;
    height: 79px;
  }
}
.bar {
  .title {
    line-height: 60px;
    height: 59px;
  }
  .button,button{
    line-height: 48px;
  }
}

.has-header {
  top: 60px;
}

.platform-ios{
  .has-header {
    top: 80px;
  }
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  line-height: 48px;
}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before, .bar button.button-clear .icon:before, .bar button.button-clear.icon:before, .bar button.button-clear.icon-left:before, .bar button.button-clear.icon-right:before{
  line-height: 48px;
}*/

.ag-row-item {
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
}

.ag-row-multi-item {
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  padding:0px 20px;
  .title {
    line-height: 30px;
    font-size: 16px;
  }
  .content {
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
    .left {
      color: #efefef;
      float: left;
    }
    .right {
      color: #e3e3e3;
      float: right;
    }
  }
}

.ag-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  line-height: 50px;
  height: 50px;
  border-top: 1px solid #ededed;
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
}

@import "../directives/map_panel/map.client.style.less";
@import "../directives/photo_panel/photo.client.style.less";
@import "../directives/filtrate_panel/filtrate.client.style.less";
@import "../directives/events_panel/events_select.client.style.less";
@import "menu.client.style.less";
@import "home.client.style.less";
@import "plan.client.style.less";
@import "dashboard.client.style.less";
@import "punch.client.style.less";
@import "shop_list.client.style.less";
@import "filtrate.client.style.less";
@import "daily.client.style.less";
@import "daily_list.client.style.less";
@import "datepicker.client.style.less";
