.menu {
  background-color: #90695d;
  a {
    color: white;
    &:active {
      background-color: grey;
    }
  }
  .sm-menu-header {
    display: block;
    height: 200px;
    position: relative;
    background-color:#301e2e ;
    .photo {
      position: absolute;
      height: 80px;
      width: 80px;
      left: 50%;
      top:50%;
      margin-left: -40px;
      margin-top: -40px;
      border-radius: 90px;
      background-color: white;
    }
    .name {
      line-height: 60px;
      position: absolute;
      width:100%;
      bottom: 0px;
      color:white;
      text-align: center;
      font-size: 20px;
    }
  }
  .sm-menu-item {
    line-height: 50px;
    display: block;
    padding: 0px 30px;
  }

}
