# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
agilesales-client/node_modules/
agilesales-client/platforms/
agilesales-client/plugins/
agilesales-client/.DS_STORE
agilesales-client/www/lib/
agilesales-client/www/dist/

agilesales-web/libraries/
.idea
.DS_STORE
