# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

agilisales-client/node_modules/
agilisales-client/platforms/
agilisales-client/plugins/
agilisales-client/.DS_STORE
agilisales-client/www/lib/
agilisales-client/www/dist/
.idea
.DS_STORE
