<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <a class="sm-menu-header">
          <div class="photo"></div>
          <div class="name">hardy</div>
        </a>
        <a class="sm-menu-item" menu-close href="#/menu/home">
          首页
        </a>
        <a class="sm-menu-item" menu-close href="#/menu/dashboard">
          数据统计
        </a>
        <a class="sm-menu-item" menu-close href="#/menu/nearby_shop_list">
          附近的店
        </a>
        <a class="sm-menu-item" menu-close href="#/menu/setting">
          设置
        </a>
        <a class="sm-menu-item" menu-close href="#/menu/photos">
          照片墙
        </a>
        <a class="sm-menu-item" menu-close ng-click="login()">
          登录
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
