.ag-basedata-home-page {
  .header {
    overflow: hidden;
    height: 60px;
    border-bottom: 1px solid #d2d2d2;
    padding:0px 10px;
    .ag-back {
      line-height: 60px;
      float: left;
    }

    .ag-btn{
      margin-left: 10px;
      margin-top: 10px;
      float: right;
    }
  }
  .center-area {
    background-color: white;
    border: 1px solid #d2d2d2;
    position: relative;
    margin:10px 10px 100px 10px;
    padding-left: 200px;
    .left {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 200px;
      .left-header {
        line-height: 60px;
        padding: 0px 20px;
        border-bottom: 1px solid #d2d2d2;
      }
      .left-item {
        line-height: 70px;
        padding: 0px 20px;
        position: relative;
        padding-left: 60px;
        .left-item-icon{
          position: absolute;
          width:40px;
          top:13px;
          left:10px;
        }
        &:hover {
          background-color: #037dff;
          color: white;
        }
        &.select {
          background-color: #037dff;
          color: white;
        }
      }
    }
    .right {
      border-left: 1px solid #d2d2d2;
      min-height: 500px;
      position: relative;
      .ag-basedata-home-view {
        height: 100%;
      }
    }
  }
}