.ag-header {
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  padding: 0px 20px;
  background-color: white;
  cursor: pointer;
  .header-nav {
    float: left;
    line-height: 60px;
    width: 120px;
    text-align: center;
  }
}

