
.ag-page-center{
  margin:auto;
  overflow: hidden;
  max-width: 1200px;
}
.ag-home-page {
  .tip-title {
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
  }
  .tip-content {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color:#999;
  }
  .home-item-panel {
    cursor: pointer;
    margin-top: 80px;
    .icon {
      height: 100px;
      background-color: white;
      width: 100%;
      margin-bottom: 20px;
    }
    .name {
      margin:auto;
      text-align: center;
      width: 120px;
      height: 30px;
      line-height: 30px;
      border-radius: 90px;
      background-color: #e4e4e4;
    }
  }
}