html,body{
  height: 100%;
  background-color: #eeeeee;
}

.ag-first-layer-view{
  height: 100%;
}

.ag-btn{
  border-radius: 5px;
  padding:0px 20px;
  line-height: 40px;
  cursor: pointer;
  &.blue{
    color:white;
    background-color: #037dff;
  }

  &.gray{
    background-color: #f0f0f0;
  }
}
@import "header.client.style.less";
@import "home.client.style.less";
@import "basedata_home.client.style.less";
