html, body {
  height: 100%;
  background-color: #eeeeee;
}

.ag-first-layer-view {
  height: 100%;
}

.ag-btn {
  border-radius: 5px;
  padding: 0px 20px;
  line-height: 40px;
  cursor: pointer;
  &.blue {
    color: white;
    background-color: #037dff;
  }

  &.gray {
    background-color: #f0f0f0;
  }
}

@import "header.client.style.less";
@import "home.client.style.less";
@import "table.client.style.less";
@import "card_home.client.style.less";
@import "card_edit.client.style.less";
@import "basedata_home.client.style.less";
@import "basedata_area.client.style.less";
@import "basedata_people.client.style.less";
@import "question.client.style.less";
@import "dialog.client.style.less";
@import "../directives/question_single/question_single.client.style.less";
@import "../directives/question_blank/question_blank.client.style.less";
@import "../directives/question_true_false/question_true_false.client.style.less";
@import "../directives/question_table/question_table.client.style.less";
@import "../directives/dialog_confirm/dialog_confirm.client.style.less";
@import "../directives/dialog_input/dialog_input.client.style.less";
@import "../directives/dialog_select/dialog_select.client.style.less";
