<ion-view view-title="拍照测试">
  <ion-content>
    <h1>拍照测试</h1>
    <button class="button" ng-click="getPicture()">拍照测试</button>
    <img ng-src="{{info.src}}" style="width:100px;height:100px;">

    <button class="button" ng-click="showMapPanel()">地图测试</button>
    <button class="button" ng-click="showPhotoPanel()">照片测试</button>

    <button class="button" ng-click="isOnline()">网络测试</button>
    <button class="button" ng-click="getBarCode()">扫码测试</button>

    <div>
      <input type="checkbox">
    </div>
    <div>
      <select>
        <option>12</option>
        <option>12</option>
        <option>12</option>
        <option>12</option>
      </select>
    </div>
    <ag-single-select-question></ag-single-select-question>
    <ag-single-select-question></ag-single-select-question>
    <ag-true-false-question></ag-true-false-question>
    <ag-blank-question></ag-blank-question>
    <ag-multi-select-question></ag-multi-select-question>
  </ion-content>
</ion-view>
