<ion-view view-title="个人统计" class="ag-dashboard-single-page">
  <ion-content>
    <div class="ag-time-filtrate" ng-click="showFiltrate()">
      <div class="title">
        近一个月每日工作时间
      </div>
      <div class="value">
        8.5
      </div>
      <div class="arrow">
        '>'
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
      <div class="result-item">
        <span class="number">2013-2-1</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
  </ion-content>
</ion-view>
