<ion-view view-title="考勤统计" class="ag-dashboard-multi-page">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="goSingle()">
      hardy
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="ag-time-filtrate" ng-click="showFiltrate()">
      <div class="title">
        近一个月每日工作时间
      </div>
      <div class="value">
        8.5
      </div>
      <div class="arrow">
        '>'
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:90%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:80%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:70%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:60%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:50%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:40%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
    <div class="ag-dashboard-result">
      <div class="result-item" style="width:30%">
        <span class="number">1.</span>
        <span class="name">hardy</span>
        <span class="value">10.2小时</span>
      </div>
    </div>
  </ion-content>
</ion-view>
