<ion-view view-title="个人统计" class="ag-dashboard-single-page">
  <ion-content>
    <div class="ag-time-filtrate" ng-click="showFiltrate()">
      <div class="title">
        近一个月每日工作时间
      </div>
      <div class="value">
        8.5
      </div>
      <div class="arrow">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
    <!--<div class="ag-dashboard-result" ng-repeat="item in sortItems">-->
      <!--<div class="result-item">-->
        <!--<span class="number">{{item.sort_text}}</span>-->
        <!--<span class="value"></span>-->
      <!--</div>-->
    <!--</div>-->
    <div class="ag-dashboard-result" ng-repeat="item in sortItems">
      <div class="result-left-item" style="width:80%">
        <!--<span class="name"></span>-->
        {{item.sort_text}}
      </div>
      <!--<div class="result-right-item">-->
        <!--&lt;!&ndash;<div class="result-item" ng-style="{width:getItemWidth(item,$index)}">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="value"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
    </div>
  </ion-content>
</ion-view>
