<ion-view view-title="个人统计" class="ag-dashboard-single-page">
  <ion-content>
    <div class="ag-time-filtrate" ng-click="showFiltrate()">
      <div class="title">
        近一个月每日工作时间
      </div>
      <div class="value">
        8.5
      </div>
      <div class="arrow">
        '>'
      </div>
    </div>
    <!--<div class="ag-dashboard-result" ng-repeat="item in sortItems">-->
      <!--<div class="result-item">-->
        <!--<span class="number">{{item.sort_text}}</span>-->
        <!--<span class="value"></span>-->
      <!--</div>-->
    <!--</div>-->
    <div class="ag-dashboard-result" ng-repeat="item in sortItems">
      <div class="result-left-item">
        <span class="name">{{item.sort_text}}</span>
      </div>
      <div class="result-right-item">
        <!--<div class="result-item" ng-style="{width:getItemWidth(item,$index)}">-->
          <!--<span class="value"></span>-->
        <!--</div>-->
      </div>
    </div>
  </ion-content>
</ion-view>
