<ion-view view-title="考勤统计" class="ag-dashboard-multi-page">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="goSingle()">
      hardy
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="ag-time-filtrate" ng-click="showFiltrate()">
      <div class="title">
        近一个月每日工作时间
      </div>
      <div class="value">
        8.5
      </div>
      <div class="arrow">
        '>'
      </div>
    </div>
    <div class="ag-dashboard-result" ng-repeat="item in sortItems">
      <div class="result-left-item">
        <span class="number">{{$index+1}}.</span>
        <span class="name">{{item.sort_text}}</span>
      </div>
      <div class="result-right-item">
        <div class="result-item" ng-style="{width:getItemWidth(item,$index)}">
          <span class="value"></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
