<ion-view view-title="今日">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="menu.inform_list">
      <i class="fa fa-envelope" style="font-size: 20px;"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="sm-home-page">
    <div class="theme-container">
      <a class="theme-item oringe" href="#/menu/punch">上班打卡</a>
      <a class="theme-item right blue" href="#/menu/plan">拜访计划</a>
      <a class="theme-item green" href="#/menu/shop_list">发现新店</a>
      <a class="theme-item right purple" href="#/menu/daily_list">日/周/月报</a>
    </div>
    <div class="ag-row-container">
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty">无事件</div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
      <div class="ag-row-item empty"></div>
    </div>
  </ion-content>
</ion-view>
