<ion-view view-title="通知列表" class="ag-inform-list-page">
  <ion-content ui-sref="menu.inform">
    <div class="ag-row-container">
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
      <div class="ag-row-item">
        今天拜访了哈哈哈
      </div>
    </div>
  </ion-content>
</ion-view>
