<ion-view view-title="附近的店" class="ag-nearby-shop-list-page">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="showMapPanel()">
      地图模式
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="ag-row-multi-item" ng-click="showShopPanel()">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
    <div class="ag-row-multi-item">
      <div class="title">古北家乐福</div>
      <div class="content">
        <span class="left">上海浦东古北</span>
        <span class="right">2000m</span>
      </div>
    </div>
  </ion-content>
</ion-view>
