<ion-view view-title="照片墙" class="ag-photos-page">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="showPhotoSelectPanel()">
      筛选
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="ag-photo-container">
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
      <div class="ag-photo-item">
        <img class="photo" src="../img/test-photo.jpg">
      </div>
    </div>
  </ion-content>
</ion-view>
