<ion-view view-title="考勤打卡" class="ag-punch-page">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="goDashboard()">
      考勤统计
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="center">
      <div class="time-icon">

      </div>
      <div class="time-text">

      </div>
    </div>
    <div class="footer">
      <div class="punch-item left" ng-if="todayPunch.onduty" ng-click="clickOnduty()"
           ng-class="{done:todayPunch.onduty.is_done===true}">
        上班{{todayPunch.onduty.is_done?'('+todayPunch.onduty.done_time_format+')':'打卡'}}
      </div>
      <div class="punch-item right" ng-if="todayPunch.offduty" ng-click="clickOffduty()"
           ng-class="{done:todayPunch.offduty.is_done===true}">
        下班{{todayPunch.onduty.is_done?'('+todayPunch.offduty.done_time_format+')':'打卡'}}
      </div>
    </div>
  </ion-content>
</ion-view>
