<ion-view view-title="新店列表" class="ag-shop-list-page">
  <ion-content>
    <div class="ag-row-container">
      <div class="ag-row-item">
        <span class="left">家乐福中原店</span>
        <span class="right">Sisley  15/12/12上报</span>
      </div>

      <div class="ag-row-item">
        <span class="left">家乐福中原店</span>
        <span class="right">Sisley  15/12/12上报</span>
      </div>

      <div class="ag-row-item">
        <span class="left">家乐福中原店</span>
        <span class="right">Sisley  15/12/12上报</span>
      </div>

      <div class="ag-row-item pass">
        <span class="left">家乐福中原店</span>
        <span class="right">Sisley  15/12/12上报</span>
      </div>

      <div class="ag-row-item pass">
        <span class="left">家乐福中原店</span>
        <span class="right">Sisley  15/12/12上报</span>
      </div>
    </div>
  </ion-content>
  <div class="ag-footer" ng-click="goShopCreate()">
    添加新事件
  </div>
</ion-view>
