<ion-view view-title="新店列表" class="ag-shop-list-page">
  <ion-content>
    <div class="ag-row-item">
      <span class="left">家乐福中原店</span>
      <span class="right">Sisley  15/12/12上报</span>
    </div>

    <div class="ag-row-item">
      <span class="left">家乐福中原店</span>
      <span class="right">Sisley  15/12/12上报</span>
    </div>

    <div class="ag-row-item">
      <span class="left">家乐福中原店</span>
      <span class="right">Sisley  15/12/12上报</span>
    </div>

    <div class="ag-row-item pass">
      <span class="left">家乐福中原店</span>
      <span class="right">Sisley  15/12/12上报</span>
    </div>

    <div class="ag-row-item pass">
      <span class="left">家乐福中原店</span>
      <span class="right">Sisley  15/12/12上报</span>
    </div>

    <button class="button" ui-sref="menu.shop_create">添加新店</button>
    <button class="button" ui-sref="menu.shop">新店信息</button>
  </ion-content>
</ion-view>
