.bar-header {
  height: 60px;
}

.bar {
  .title {
    line-height: 60px;
    height: 59px;
  }
}

.has-header {
  top: 60px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
  line-height: 48px;
}

@import "../directives/map_panel/map.client.style.less";
