.menu {
  background-color: #6e7fa6;
  a {
    text-decoration: none;
    color: white;
  }
  .sm-menu-header {
    display: block;
    height: 100px;
    margin: 0px 30px;
    border-bottom: 1px solid white;
    padding-left: 80px;
    position: relative;
    line-height: 100px;
    .photo{
      position: absolute;
      height:60px;
      width:60px;
      left:0px;
      top:20px;
      border-radius: 90px;
      background-color: white;
    }
    .name{
    }
  }
  .sm-menu-item {
    line-height: 50px;
    display: block;
    padding: 0px 30px;
  }

}
