<div class="ag-panel ag-photo-detail-panel">
  <ion-content class="has-header" ng-click="hide()">
    <!--<ion-slide ng-repeat="photo in photos">-->
    <!--<img class="img" ng-src="{{photo.value}}">-->
    <!--</ion-slide>-->
    <!--<ion-slide-box on-slide-changed="slideHasChanged($index)">-->
    <!--<ion-slide ng-repeat="photo in photos" ag-repeat-done="repeatDone()">-->
    <!--<img ng-src="{{photo.value}}">-->
    <!--<h1 style="color: white;">BLUE</h1>-->
    <!--</ion-slide>-->
    <!--</ion-slide-box>-->
    <div class="swiper-container" id="ag-photo-swiper">
      <div class="swiper-wrapper">
      </div>
    </div>
  </ion-content>
</div>
