.ag-photo-panel {
  .photo-title {
    padding: 20px 10px;
    .descrip {

    }
    .number {
      color: #74b44d;
    }
  }
  .photo-container {
    overflow: hidden;
    .photo-item {
      width: 25%;
      float: left;
      height: 100px;
      .item {
        width: 100%;
        height: 100%;
        padding:1px;
      }
    }
  }
  .camera-entrance {
    position: absolute;
    text-align: center;
    background-color: white;
    height: 80px;
    bottom: 60px;
    color: #fc9e5e;
    width: 100%;
    border-top: 1px solid #b2b2b2;
    .camera {
      line-height: 80px;
      font-size: 18px;
    }
    .number {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #74b44d;
    }
  }
  .camera-submit {
    position: absolute;
    bottom: 0px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #74b44d;
    width: 100%;
  }
}
