<div class="ag-question-blank">
  <div class="ag-question-row">
    <div class="ag-question-left">题目类型</div>
    <div class="ag-question-right title">{{question.content.type_text}}</div>
  </div>
  <div class="ag-question-row">
    <div class="ag-question-left">题目标题</div>
    <input class="ag-question-right value" placeholder="请输入题目标题" ng-model="question.content.title">
  </div>
  <div class="ag-question-row">
    <div class="ag-question-left">请选择输入方式</div>
    <div class="ag-question-right value" ng-click="showInputType()">{{question.content.input_type_text}}</div>
  </div>
</div>