<div class="basedata-child-page basedata-area-page">
  <div class="ag-table">
    <div class="ag-table-header">
      <div class="ag-table-col">大区</div>
      <div class="ag-table-col">大区</div>
      <div class="ag-table-col">大区</div>
      <div class="ag-table-col">大区</div>
      <div class="ag-btn gray" ng-click="addCol()">添加列</div>
      <div class="ag-btn gray" ng-click="removeCol()">删除列</div>
    </div>
    <div class="ag-table-body animated bounceInDown">
      <div class="ag-table-row">
        <div class="ag-table-col"></div>
      </div>
    </div>
  </div>
</div>