<div class="basedata-child-page basedata-area-page">
  <div class="ag-table">
    <div class="ag-table-header">
      <div class="ag-table-col" ng-repeat="title in headers">{{title}}</div>
      <div class="ag-btn gray" ng-click="addColClick()">添加列</div>
      <div class="ag-btn gray" ng-click="removeColClick()">删除列</div>
    </div>
    <div class="ag-table-body animated bounceInDown">
      <div class="ag-table-row">
        <div class="ag-table-col"></div>
      </div>
    </div>
  </div>
</div>