<div class="ag-basedata-home-page animated bounceInDown">
  <div class="header">
    <div class="ag-back">返回</div>
    <div class="ag-btn blue" ng-click="showUpload()">批量导入地区</div>
    <div class="ag-btn blue">添加单个地区</div>
  </div>

  <div class="center-area">
    <div class="left">
      <div class="left-header ">基础数据</div>
      <div class="left-item select" ui-sref="basedata_home.basedata_area">地区</div>
      <div class="left-item" ui-sref="basedata_home.basedata_people">人员</div>
      <div class="left-item" ui-sref="basedata_home.basedata_shop">门店</div>
      <div class="left-item" ui-sref="basedata_home.basedata_customer">客户经销商</div>
      <div class="left-item" ui-sref="basedata_home.basedata_sku">sku</div>
    </div>
    <div class="right">
      <ui-view class="ag-basedata-home-view"></ui-view>
    </div>
  </div>
</div>