<div class="basedata-child-page basedata_shop_page">
  <div class="ag-table">
    <div class="ag-table-header" ng-style="{width:((headers.length+1)*141)+'px'}">
      <div class="ag-table-col" ng-repeat="h in headers">{{h}}</div>
    </div>
    <div class="ag-table-body animated bounceInDown" ng-style="{width:(17*141)+'px'}">
      <div class="ag-table-row" ng-repeat="s in shops">
        <div class="ag-table-col">{{s.number}}</div>
        <div class="ag-table-col">{{s.name}}</div>
        <div class="ag-table-col">{{s.level}}</div>
        <div class="ag-table-col">{{s.area}}</div>
        <div class="ag-table-col">{{s.city}}</div>
        <div class="ag-table-col">{{s.address}}</div>
        <div class="ag-table-col">{{s.channel_type}}</div>
        <div class="ag-table-col">{{s.shop_type}}</div>
        <div class="ag-table-col">{{s.channel}}</div>
        <div class="ag-table-col">{{s.customer}}</div>
        <div class="ag-table-col">{{s.salesman_name}}</div>
        <div class="ag-table-col">{{s.salesman_number}}</div>
        <div class="ag-table-col">{{s.promotions_number}}</div>
        <div class="ag-table-col">{{s.promotions_name}}</div>
        <div class="ag-table-col">{{s.call_count}}</div>
        <div class="ag-table-col">{{s.status}}</div>
        <div class="ag-table-col">{{s.brand}}</div>
        <div class="ag-table-col">{{s.lng}}</div>
        <div class="ag-table-col">{{s.lat}}</div>
        <div class="ag-table-col">删除</div>
      </div>
    </div>
  </div>
</div>