<div class="ag-card-home-page animated bounceInDown">
  <div class="header">
    拜访卡
  </div>
  <div class="body row">
    <div class="card-add-btn" ng-click="showCardAdd()">创建拜访卡</div>
    <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="card in cards">
      <div class="card" ng-click="goEdit()">
        <div class="card-header">
          <div class="title">默认业务员</div>
          <div class="name">默认业务员拜访卡</div>
          <div class="photo"></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="number">2</div>
              <div class="name">试卷</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="number">2</div>
              <div class="name">试卷</div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="number">2</div>
              <div class="name">试卷</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="left" ui-sref="card_edit.card_config">配置拜访卡</div>
          <div class="right" ui-sref="card_edit.card_preview">编辑拜访卡试卷</div>
        </div>
      </div>
    </div>
  </div>
</div>