<div class="ag-card-edit-page animated bounceInDown">
  <div class="header">
    <div class="ag-back">返回</div>
    陈列报告
  </div>
  <div class="center-area">
    <div class="left">
      <div class="left-header">
        美赞成业务拜访卡
      </div>
      <div class="left-item" ui-sref="card_edit.card_config" ng-class="{select:location.hash==='#/card_edit/card_config'}">拜访卡配置</div>
      <div class="card-paper-title">
        <div class="title">拜访卡试卷</div>
        <div class="add-paper-entrance" ng-click="showAddPaper()">添加试卷</div>
      </div>
      <div class="left-item" ui-sref="card_edit.card_preview">陈列检查报告</div>
      <div class="left-item" ui-sref="card_edit.card_preview">分销检查报告</div>
      <div class="left-item" ui-sref="card_edit.card_preview">价格检查报告</div>
      <div class="left-item" ui-sref="card_edit.card_preview">人员检查报告</div>
      <div class="left-item" ui-sref="card_edit.card_preview">精品检查报告</div>
      <div class="left-item" ui-sref="card_edit.card_preview">订单</div>
    </div>
    <div class="right">
      <ui-view>

      </ui-view>
    </div>
  </div>
</div>
